USE [master]
GO
/****** Object:  Database [Person_CRUD]    Script Date: 9/25/2023 4:09:41 PM ******/
CREATE DATABASE [Person_CRUD] ON  PRIMARY 
( NAME = N'Person_CRUD', FILENAME = N'D:\các application trên máy\app\MSSQL14.SQLDEV\MSSQL\DATA\Person_CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Person_CRUD_log', FILENAME = N'D:\các application trên máy\app\MSSQL14.SQLDEV\MSSQL\DATA\Person_CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Person_CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Person_CRUD]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 9/25/2023 4:09:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](50) NULL,
	[Salary] [nchar](10) NULL,
	[Avatar] [image] NULL,
	[DoB] [datetime] NULL,
	[Gender] [bit] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [Name], [Phone], [Address], [Salary], [Avatar], [DoB], [Gender]) VALUES (1, N'Chiến', N'0868033257', N'Bắc Ninh', N'1         ', NULL, CAST(N'2001-07-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Persons] ([Id], [Name], [Phone], [Address], [Salary], [Avatar], [DoB], [Gender]) VALUES (4, N'1', N'2', N'3', N'4         ', NULL, NULL, 1)
INSERT [dbo].[Persons] ([Id], [Name], [Phone], [Address], [Salary], [Avatar], [DoB], [Gender]) VALUES (5, N'Bình', N'1', N'2', N'3         ', NULL, CAST(N'2023-09-22T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
USE [master]
GO
